* {
    border-radius: 10px;
}

window {
    font-size: 1.75em;
    font-family: "RobotoMono Nerd Font";
    background-color: #2b2b2b;
    color: #92d5e6;
    border: 2px solid #ff758e;
}

#entry {
    padding: 1em 0.25em 1em 0.25em;
    
}

#entry:selected {
    background-color: #2b2b2b;
    border: 2px solid #bcff03;
    padding: 1em 0.5em 1em 0.5em;
}

#text:selected {
    color: #bcff03;
}

#input{
    padding: 1em 0.25em 1em 0.25em;
    background-color: #4e4e4e;
    color: white;
}

image{
    margin: 0 0.5em 0 0;
}
